.contained {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

@media only screen and (max-width: 1304px) {
  .contained {
    @apply mx-6;
    width: calc(100% - 48px);
  }
}

.contained-md {
  @apply px-3;
}

@screen md {
  .contained-md {
    @apply px-6;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
}
